Requests: <b><%= user.requests.count %></b><br />
Recommendations: <b><%= user.recommendations.count %></b><br />
Following: <b><%= user.neighbors.count %></b> &nbsp;  
Followers: <b><span id="followers"><%= user.followers.count %></span></b><br />
