<h4>Sign in</h4>
<%= form_for(resource, as: resource_name, url: new_session_path(resource_name)) do |f| %>
	<p>
		<%= f.text_field :email, placeholder: :email %>
	</p>
	<p>
		<%= f.password_field :password, placeholder: :password%>
	</p>
	<p>
		<%= f.submit "Log in", class: "btn btn-primary" %>
	</p>
<% end %>