Searched for <b><%= link_to verbose_noun(request.category.name), request %></b>
<span class="options">
	<i><%= time_ago_in_words(request.created_at) %> ago</i> &nbsp;&nbsp;
	<b><%= link_to("Recommend Providers", request) unless current_user.id == request.user_id %></b>
</span>