<%= form_for @request do |f| %>
	<div class="row">
		<span class="offset2 span8">
		<h4>What are you looking for?</h4>
			<%= f.collection_select :category_id, @categories, :id, :name %>
			<%= f.text_field :phone, placeholder: :phone %>
			<span class="options">
				<%= f.submit "Request Call", class: "btn btn-primary pull-right" %>
			</span>
		</span>
	</div>
<% end %>