<h1>Request</h1>
<p>Status: <%= @request.status %></p>
<p>Phone: <%= @request.phone %></p>
<p>Description <%= @request.description %></p>
Actions:<br />


<%= render 'requests/request_actions', request: @request %>