<div class="offset2 span8">
	<h4>The best possible tool for you!</h4>
	<p>Bluemoonlist was created to solve a problem. We wanted to take the pain out of finding reliable service providers. Many people use Craigslist or another review site such as AngiesList to find providers, but we want to do better. We have an algorithm with ranks providers based on several categories such as</p>
	<ul>
		<li>Response Time</li>
		<li>Client Reviews</li>
		<li>Social Connections</li>
	</ul>

	Our tool has two goals in mind
	<ol>
		<li>Contact Anonymity</li>
		<li>Automated Connections</li>
		<li>Be Free to Provider and Clients</li>
	</ol>
</div>