<div class="row">
	<span class="span6">
		<h3>Find a contractor with less work!</h3>
		<p>
			Looking for a shuttle ride, a plumber, or a dentist? Tell us and we will have the best professional call you. Sign up for free! 
		</p>
		<p>
			How does it work? 
			<ol>
				<li>Sign up for FREE or login with Facebook</li>
				<li>Enter the service you are looking for</li>
				<li>Wait for a call</li>
				<li>Accept or move to the next contractor</li>
			</ol>
			
			We will find the best local professional and when work is done, you may 
			pay your bill through our portal.
			
			It's that simple!
		</p>
	</span>
	<% if !signed_in? %>
	<span class="offset2 span4">
		<%= render 'shared/sign_in_fields' %>
		<%= render 'shared/sign_up_fields' %>
	</span>
	<% end %>
</div>
