<%= form_for @micropost do |f| %>
	<p>
		<%= f.text_field :description, placeholder: "Update your status", class: "span6" %>
		<%= f.submit "Post", class: "btn btn-primary pull-right" %>
	</p>
<% end %>