@import 'bootstrap';

@font-face {
	font-family:"standard-font";
	src:url("/latest.ttf")
}

html, body {
	height: 100%;
	font-family: standard-font !important;
	font-size: 14pt;
}

#logo {
	margin: 0;
	font-family: standard-font;
	a {
		color: #FFF;
	}
	a:hover {
		text-decoration: none;
		color: #FFF;
	}
}

.navbar {
	.nav {
		li {
			a {
			  text-shadow: none !important;
			  color: #FFF;
		  }
		  a:hover {
		    color: #EEE;
		  }
	  }
  }
}

.container-top {
	padding-top: 60px;
	padding-bottom: 200px;
	overflow: auto;
}

.post {
	img {
		position: absolute;
		left: 0;
		top: 10px;
	}
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px 0px;
	height: 70px;
	border-top: 1px solid #ccc;
	position: relative;
	font-size: 16pt;
	.text {
		position: absolute;
		left: 65px;
	}
	.options {
		position: absolute;
		bottom: 0;
		left: 65px;
		font-size: 12pt;
	}
}

.bold {
	a {
		font-weight: bold;
	}
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px;
}

#header {
	background-color: #0088CC;
}

#footer {
	height: 150px;
	background: #252525;
	color: #bdbdbd;
	.horizontal-links div ul{
		margin: 0;
		padding: 0;
		li {
			float: left;
			list-style-type: none;
			padding: 5px 10px 5px 10px;
		}
	}
}