// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#request_actions {
	clear: both;
	form{
		display: inline;
	}
	margin-top: 5px;
}