<footer id="footer">
	<div class="container">
		<div class="row horizontal-links">
			<div class="span12">
				<ul>
					<li>Product</li>
					<li><%= link_to "About Us", static_about_path %></li>
					<li><%= link_to "Contact Us", "#" %></li>
					<li><%= link_to "Blog", "#" %></li>
				</ul>
			</div>
		</div>
		<div class="row pull-center">
			<div class="span12 text-center">
				Copyright &copy; Super-Hit-Labs 2013
			</div>
		</div>
	</div>
</div>